*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../Images/product/footer.png);
    background-position: center;
    background-size: cover;
}
.container-2{
    height: 750px;
    max-width: 100%;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../Images/banner/BIA.jpg);
    background-position: center;
    background-size: cover;
}
/*.login{
     /* height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../Images/banner/BIA.jpg);
      background-position: center;
      background-size: cover;
      position: absolute;
  }*/
.form-box{
      width: 380px;
      height: 510px;
      position: relative;
      margin: auto;
      background: #fff;
      padding: 5px;
      top: 100px;
  }
.font{
      position: relative;
      text-align: center;
      top: -5px;
      left: -6px;
      width: 103%;
      height: 50px; 
      font-size: 18px; 
      color: black; 
}
.font-chu{
      position: relative;
      top: 40%;
}
.social-icons{
      margin: 30px auto;
      text-align: center;
      position: relative;
      top: 74%;
  }
.social-icons img{
      width: 30px;
      margin: 0 12px;
      box-shadow: 0 0 20px 0 #7f7f7f3d;
      cursor: pointer;
      border-radius: 50px;
  }
.input-group{
      top: 85px;
      position: absolute;
      width: 280px;
      transition: .5s;
  }
.input-field{
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
  }
  .submit-btn{
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      background: rgb(247, 69, 69);
      border: 0;
      outline: none;
      border-radius: 30px;
  }
  .check-box{
      margin: 30px 10px 30px 0;
  }
  span{
      color: #777;
      font-size: 12px;
      bottom: 55px;
      position: absolute;
  }
  #register{
      right: 50px;
  }
  
  .input-group a{
      font-size: 13px;
      color: black;
      text-decoration: none;
      position: absolute;
      top: 110%;
      right: 0;
  }
  a{
      text-decoration: none;
      color: black;
  }
