*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    font-family: arial
}
ul li{
    list-style-type: none;
}
.header {
    background-color: #ffffff;
    position: relative;
    /*height: 150px;*/
    /*padding: 1em;*/
    clear: left;
    text-align: center;
    transition: 1s;
    box-shadow: 0px 10px 22px -23px rgb(0, 0, 0);
}
.row{
    text-align: center;
    display: flex;
    justify-self: start;
    align-self: start;
   /* padding: 1em;
    /*
    position: relative;
    width: calc(100% - var(--padding) * 2);
    margin: auto;
    /*eight: 60px;*/
}
#header-top{
    /*left: 100px;*/
    /*margin-top: auto;*/
    margin: auto;
    float: left;
}
#header-top ul li{
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 100px;

}
#header-top img{
    margin-left: 100px;
    position: relative;
    left: 50px;
}
#header-top img:hover{
    color: rgb(241, 144, 33);
}
#header-top a:hover{
    color: rgb(0, 0, 0);
}
i:hover{
    color: rgb(241, 144, 33);
}
.search{
    box-sizing: border-box;
    /*height: 100%;
    width: 100%;*/
    /*margin-top: 15px;*/
}
.search-txt{
    background-color: #ffffff;
    border: none;
    outline: none;
   /* margin-left: -190px;*/
    padding: 0;
    color: rgb(241, 144, 33);
    transition: 0.4s;
    border-bottom: 3px solid rgb(241, 144, 33);
    font: var(--fnt,var(--font_8));
  }
/*.logo{
    position: relative;
    top: -30px;
    color: rgb(225 102 21);
    margin-left: 50px;
}*/
.Distance{
    margin-left: 270px;
}
.Distance a{
color: rgb(225 102 21);
}

.fab, .far, .fas {
    color: black;
    font-size: 17px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.topnav {
    background-color: #ffffff;
    position: relative;
    justify-self: start;
    align-self: start;
    text-align: center;
    font-size: 20px;
}
.topnav ul li{
    display: inline-block;
    margin-left: 30px;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    color: rgb(241, 144, 33);
}
.nav--hiden{
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}